# EDA for the HTI data from Harvard Dataverse

In [1]:
#imports
from __future__ import print_function, division

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

sns.set()

%matplotlib inline

In [2]:
ls

README.md       Untitled.ipynb  data/           local/

In [13]:
ls data/

HTI_00-11_stata12.tab  HTI_00-11_stata13.dta  stata_to_csv.py
HTI_00-11_stata13.csv  HTI_Codebook_2013.pdf

In [63]:
hti_df = pd.read_csv('./data/HTI_00-11_stata13.csv')

In [36]:
hti_df.head()

,country,ccode,year,tier,minstand,efforts,TRAFFICKING_FLOWS,source,source_order,transit,...,UNP_rat,ILO182,ILO29,ILO105,CEDAW_sign,CEDAW_rat,UNCRC_sign,UNCRC_rat,conflict_sign,conflict_rat
0,United States,2.0,2001,Special Case,No mention,No mention,NaN,No,No mention,Yes,...,Ê3 Nov 2005Ê,1999-12-02,NaN,1991-09-25,17 Jul 1980Ê,NaN,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
1,United States,2.0,2002,Special Case,No mention,No mention,NaN,No,No mention,Yes,...,Ê3 Nov 2005Ê,1999-12-02,NaN,1991-09-25,17 Jul 1980Ê,NaN,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
2,United States,2.0,2003,Special Case,No mention,No mention,NaN,No,No mention,No,...,Ê3 Nov 2005Ê,1999-12-02,NaN,1991-09-25,17 Jul 1980Ê,NaN,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
3,United States,2.0,2004,Special Case,No mention,No mention,NaN,No,No mention,No,...,Ê3 Nov 2005Ê,1999-12-02,NaN,1991-09-25,17 Jul 1980Ê,NaN,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
4,United States,2.0,2005,Special Case,No mention,No mention,NaN,No,No mention,No,...,Ê3 Nov 2005Ê,1999-12-02,NaN,1991-09-25,17 Jul 1980Ê,NaN,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê

In [37]:
hti_df.columns

Index(['country', 'ccode', 'year', 'tier', 'minstand', 'efforts',
       'TRAFFICKING_FLOWS', 'source', 'source_order', 'transit',
       'transit_order', 'destination', 'destination_order', 'internal',
       'TRAFFICKING_TYPES', 'psource', 'ptransit', 'pdest', 'pinternal',
       'lsource', 'ltransit', 'ldest', 'linternal', 'dsource', 'dtransit',
       'ddest', 'dinternal', 'dssource', 'dstransit', 'dsdest', 'dsinternal',
       'cpsource', 'cptransit', 'cpdest', 'cpinternal', 'clsource',
       'cltransit', 'cldest', 'clinternal', 'cssource', 'cstransit', 'csdest',
       'csinternal', 'PROSECUTION', 'domesticlaws', 'enforcement',
       'convictinfo', 'prosnum', 'PROTECTION', 'protectprogress', 'victimid',
       'victimservices', 'victimpunish', 'PREVENTION', 'preventprogress',
       'INTERNATIONAL_LAWS', 'UNP_sign', 'UNP_rat', 'ILO182', 'ILO29',
       'ILO105', 'CEDAW_sign', 'CEDAW_rat', 'UNCRC_sign', 'UNCRC_rat',
       'conflict_sign', 'conflict_rat'],
      dtype='object')

In [38]:
hti_df['UNP_rat']

0        Ê3 Nov 2005Ê
1        Ê3 Nov 2005Ê
2        Ê3 Nov 2005Ê
3        Ê3 Nov 2005Ê
4        Ê3 Nov 2005Ê
5        Ê3 Nov 2005Ê
6        Ê3 Nov 2005Ê
7        Ê3 Nov 2005Ê
8        Ê3 Nov 2005Ê
9        Ê3 Nov 2005Ê
10       13 May 2002Ê
11       13 May 2002Ê
12       13 May 2002Ê
13       13 May 2002Ê
14       13 May 2002Ê
15       13 May 2002Ê
16       13 May 2002Ê
17       13 May 2002Ê
18       13 May 2002Ê
19       13 May 2002Ê
20       13 May 2002Ê
21       26 Sep 2008Ê
22       26 Sep 2008Ê
23       26 Sep 2008Ê
24       26 Sep 2008Ê
25       26 Sep 2008Ê
26       26 Sep 2008Ê
27      20 Jun 2013 a
28      20 Jun 2013 a
29      20 Jun 2013 a
            ...
1557     14 Sep 2005Ê
1558              NaN
1559              NaN
1560              NaN
1561              NaN
1562              NaN
1563     19 Jul 2002Ê
1564     19 Jul 2002Ê
1565     19 Jul 2002Ê
1566     19 Jul 2002Ê
1567     19 Jul 2002Ê
1568     19 Jul 2002Ê
1569     19 Jul 2002Ê
1570     19 Jul 2002Ê
1571              NaN
1572    15 Sep 2005 a
1573    15 Sep 2005 a
1574              NaN
1575              NaN
1576              NaN
1577              NaN
1578              NaN
1579              NaN
1580              NaN
1581              NaN
1582              NaN
1583              NaN
1584    Ê2 Nov 2011 a
1585    Ê2 Nov 2011 a
1586    Ê2 Nov 2011 a
Name: UNP_rat, Length: 1587, dtype: object

In [64]:
# Remove all unwanted characters (ex: 'Ê' and ' a')
date_cols = ['UNP_sign', 'UNP_rat', 'ILO182', 'ILO29',
       'ILO105', 'CEDAW_sign', 'CEDAW_rat', 'UNCRC_sign', 'UNCRC_rat',
       'conflict_sign', 'conflict_rat']

def remove_unwanted_chars (s):
    #if type(s) is str:
    if isinstance(s, str):
        new_s = s
        new_s = s.replace('Ê','')
        if new_s[-2:] == ' a': #taking care of this weird case
            new_s = new_s[:-2]
        return new_s

for col in date_cols:
    hti_df[col] = hti_df[col].apply(remove_unwanted_chars)

In [77]:
#
hti_df['UNP_sign']
hti_df['UNP_rat']
hti_df['ILO182']
hti_df['ILO29']
hti_df['ILO105']
hti_df['CEDAW_sign']
hti_df['CEDAW_rat']
hti_df['UNCRC_sign']
hti_df['UNCRC_rat']
hti_df['conflict_sign']
hti_df['conflict_rat']

hti_df['UNP_sign']

0       13 Dec 2000
1       13 Dec 2000
2       13 Dec 2000
3       13 Dec 2000
4       13 Dec 2000
5       13 Dec 2000
6       13 Dec 2000
7       13 Dec 2000
8       13 Dec 2000
9       13 Dec 2000
10      14 Dec 2000
11      14 Dec 2000
12      14 Dec 2000
13      14 Dec 2000
14      14 Dec 2000
15      14 Dec 2000
16      14 Dec 2000
17      14 Dec 2000
18      14 Dec 2000
19      14 Dec 2000
20      14 Dec 2000
21       9 Apr 2001
22       9 Apr 2001
23       9 Apr 2001
24       9 Apr 2001
25       9 Apr 2001
26       9 Apr 2001
27             None
28             None
29             None
           ...
1557    11 Dec 2002
1558           None
1559           None
1560           None
1561           None
1562           None
1563    14 Dec 2000
1564    14 Dec 2000
1565    14 Dec 2000
1566    14 Dec 2000
1567    14 Dec 2000
1568    14 Dec 2000
1569    14 Dec 2000
1570    14 Dec 2000
1571           None
1572           None
1573           None
1574           None
1575           None
1576           None
1577           None
1578           None
1579           None
1580           None
1581           None
1582           None
1583           None
1584           None
1585           None
1586           None
Name: UNP_sign, Length: 1587, dtype: object

In [80]:
def convert_datetime(s, in_fmt, out_fmt):
    if s is not None:
        return datetime.datetime.strptime(s, in_fmt).strftime(out_fmt)

In [72]:
asdf = '14 Dec 2000'
#convert_datetime(asdf, in_fmt, out_fmt)
asdf2 = datetime.datetime.strptime(asdf, in_fmt)
asdf2

datetime.datetime(2000, 12, 14, 0, 0)

In [75]:
asdf2.strftime(out_fmt)

'2000-12-14'

In [81]:
in_fmt = '%d %b %Y'
out_fmt = '%Y-%m-%d'
hti_df['UNP_sign'].apply(lambda s: convert_datetime(s, in_fmt, out_fmt))

0       2000-12-13
1       2000-12-13
2       2000-12-13
3       2000-12-13
4       2000-12-13
5       2000-12-13
6       2000-12-13
7       2000-12-13
8       2000-12-13
9       2000-12-13
10      2000-12-14
11      2000-12-14
12      2000-12-14
13      2000-12-14
14      2000-12-14
15      2000-12-14
16      2000-12-14
17      2000-12-14
18      2000-12-14
19      2000-12-14
20      2000-12-14
21      2001-04-09
22      2001-04-09
23      2001-04-09
24      2001-04-09
25      2001-04-09
26      2001-04-09
27            None
28            None
29            None
           ...
1557    2002-12-11
1558          None
1559          None
1560          None
1561          None
1562          None
1563    2000-12-14
1564    2000-12-14
1565    2000-12-14
1566    2000-12-14
1567    2000-12-14
1568    2000-12-14
1569    2000-12-14
1570    2000-12-14
1571          None
1572          None
1573          None
1574          None
1575          None
1576          None
1577          None
1578          None
1579          None
1580          None
1581          None
1582          None
1583          None
1584          None
1585          None
1586          None
Name: UNP_sign, Length: 1587, dtype: object

In [12]:
hti_df.to_csv('test.csv', index=False)
df1 = pd.read_csv('test.csv')
df1.head()

,country,ccode,year,tier,minstand,efforts,TRAFFICKING_FLOWS,source,source_order,transit,...,UNP_rat,ILO182,ILO29,ILO105,CEDAW_sign,CEDAW_rat,UNCRC_sign,UNCRC_rat,conflict_sign,conflict_rat
0,United States,2.0,2001,Special Case,No mention,No mention,NaN,No,No mention,Yes,...,Ê3 Nov 2005Ê,1999-12-02,NaN,1991-09-25,17 Jul 1980Ê,NaN,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
1,United States,2.0,2002,Special Case,No mention,No mention,NaN,No,No mention,Yes,...,Ê3 Nov 2005Ê,1999-12-02,NaN,1991-09-25,17 Jul 1980Ê,NaN,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
2,United States,2.0,2003,Special Case,No mention,No mention,NaN,No,No mention,No,...,Ê3 Nov 2005Ê,1999-12-02,NaN,1991-09-25,17 Jul 1980Ê,NaN,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
3,United States,2.0,2004,Special Case,No mention,No mention,NaN,No,No mention,No,...,Ê3 Nov 2005Ê,1999-12-02,NaN,1991-09-25,17 Jul 1980Ê,NaN,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
4,United States,2.0,2005,Special Case,No mention,No mention,NaN,No,No mention,No,...,Ê3 Nov 2005Ê,1999-12-02,NaN,1991-09-25,17 Jul 1980Ê,NaN,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê